<link rel="stylesheet" href="/footer.css" media="screen">


<footer>
  <ul class="topnav">
    <li><a>
      <div class="createrID">
        Created by Nicholas W. Bradford
      </div></a></li>
    <li class="right"><a>
    <div class="copyright">
      Copyright &copy; 2016
    </div></a></li>
  </ul>
</footer>
