<link rel="stylesheet" href="/header.css" media="screen">
<header>
<ul class="topnav">
  <li><a class="active" href="/">Main</a></li>
  <li><a href="about">About</a></li>
  <li><a href="resume">Resume</a></li>
  <li><a href="education">Education</a></li>
  <li><a href="projects">Education</a></li>
  <li class="right"><a href="contact">Contact</a></li>
</ul>
</header>
