
<link rel="stylesheet" href="/education-style.css" media="screen">
<main>
  <div class="info-container">

    <div>
      <div class="content-wide">

          <img id="OSU-logo" src="https://fanapeel.com/wp-content/uploads/logo_-oregon-state-university-beavers-orange-os.png">

          <div class="header-input">
            <h1> Oregon State University </h1>
          </div>
          <div class="body-input">
            <p>Stuff to be written...
              This is text in repeat
              This is text in repeat
              This is text in repeat
              This is text in repeat
              This is text in repeat
              This is text in repeat

            </p>
          </div>
      </div>

      <div class="content-wide">

          <img id="CCC-logo" src="http://www.nwacsports.org/images/logos/images/CHCCLOGO.jpg">

          <div class="header-input">
            <h1> Chemeketa Community College </h1>
          </div>
          <div class="body-input">
            <p>Stuff to be written...
              This is text in repeat
              This is text in repeat
              This is text in repeat
              This is text in repeat
              This is text in repeat
              This is text in repeat

            </p>
          </div>
      </div>


      <div class="content-wide">

          <img id="DHS-logo" src="https://static.wixstatic.com/media/ad31a0_bcc0a354f38d49c2ab1e1d978001dfac.png/v1/fill/w_275,h_320,al_c,usm_0.66_1.00_0.01/ad31a0_bcc0a354f38d49c2ab1e1d978001dfac.png">

          <div class="header-input">
            <h1>Dallas High School</h1>
          </div>
          <div class="body-input">
            <p>Stuff to be written...
              This is text in repeat
              This is text in repeat
              This is text in repeat
              This is text in repeat
              This is text in repeat
              This is text in repeat

            </p>
          </div>
      </div>
    </div>


  </div>



</main>
