<link href="./public/main-style.css"></link> <!-- this is for linking the css to this html -->

  <div class="info-container">
    <div class="content">
    <main>

      <h1>Welcome to the main page.</h1>
      <h1>header default headre font</h1>
    <!-- ----------------------------------------The code below is for the fancy slide thingy----------------------------------------------- -->
      <div class="slideshow-container">

      <div class="mySlides fade">
        <div class="numbertext">1 / 3</div>
        <img src="https://i1.wp.com/osurobotics.club/wp-content/uploads/2017/10/DSC_6730.jpg?w=744&#038;ssl=1" style="width:100%">
        <div class="text">Caption Text</div>
      </div>

      <div class="mySlides fade">
        <div class="numbertext">2 / 3</div>
        <img src="https://i1.wp.com/osurobotics.club/wp-content/uploads/2018/10/IMG_20180811_004830.jpg?w=744&#038;ssl=1" style="width:100%">
        <div class="text">Caption Two</div>
      </div>

      <div class="mySlides fade">
        <div class="numbertext">3 / 3</div>
        <img src="https://i2.wp.com/osurobotics.club/wp-content/uploads/2017/10/21870600250_7c2755e930_o.jpg?w=744&#038;ssl=1" style="width:100%">
        <div class="text">Caption Three</div>
      </div>

      <div class="mySlides fade">
        <div class="numbertext">3 / 3</div>
        <img src="https://i2.wp.com/osurobotics.club/wp-content/uploads/2018/10/IMG_1457.jpg?w=744&#038;ssl=1" style="width:100%">
        <div class="text">Caption Three</div>
      </div>

      <div class="mySlides fade">
        <div class="numbertext">3 / 3</div>
        <img src="https://i1.wp.com/osurobotics.club/wp-content/uploads/2018/03/DSC_0010.jpg?w=744&#038;ssl=1" style="width:100%">
        <div class="text">Caption Three</div>
      </div>

      <div class="mySlides fade">
        <div class="numbertext">3 / 3</div>
        <img src="https://i0.wp.com/osurobotics.club/wp-content/uploads/2018/03/DSC_0017.jpg?w=744&#038;ssl=1" style="width:100%">
        <div class="text">Caption Three</div>
      </div>

      <div class="mySlides fade">
        <div class="numbertext">3 / 3</div>
        <img src="https://i0.wp.com/osurobotics.club/wp-content/uploads/2018/03/DSC_0025-2.jpg?w=744&#038;ssl=1" style="width:100%">
        <div class="text">Caption Three</div>
      </div>

      <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
      <a class="next" onclick="plusSlides(1)">&#10095;</a>

      </div>
      <br>

      <div style="text-align:center">
        <span class="dot" onclick="currentSlide(1)"></span>
        <span class="dot" onclick="currentSlide(2)"></span>
        <span class="dot" onclick="currentSlide(3)"></span>
        <span class="dot" onclick="currentSlide(4)"></span>
        <span class="dot" onclick="currentSlide(5)"></span>
        <span class="dot" onclick="currentSlide(6)"></span>
        <span class="dot" onclick="currentSlide(7)"></span>
      </div>

      <script>
      var slideIndex = 1;
      showSlides(slideIndex);

      function plusSlides(n) {
        showSlides(slideIndex += n);
      }

      function currentSlide(n) {
        showSlides(slideIndex = n);
      }

      function showSlides(n) {
        var i;
        var slides = document.getElementsByClassName("mySlides");
        var dots = document.getElementsByClassName("dot");
        if (n > slides.length) {slideIndex = 1}
        if (n < 1) {slideIndex = slides.length}
        for (i = 0; i < slides.length; i++) {
            slides[i].style.display = "none";
        }
        for (i = 0; i < dots.length; i++) {
            dots[i].className = dots[i].className.replace(" active", "");
        }
        slides[slideIndex-1].style.display = "block";
        dots[slideIndex-1].className += " active";
      }
      </script>
    <!-- ------------------------------------This is closing of the fancy slide section --------------------------------------------- -->







      <!-- This code was taken from inspecting the original OSURC website and copying and pasting the html here -->
      <div id="content" class="site-content">


    	<div id="primary" class="content-area">
    		<main id="main" class="site-main clearfix" role="main">
<!--
          <div data-slide-duration="0" data-id="10" style="" class="n2-ss-slide n2-ss-canvas n2-ow  n2-ss-slide-10">
            <div data-hash="ba6f80478bfa7e173c477b0d9f364c36" data-desktop="//osurobotics.club/wp-content/uploads/2017/10/DSC_0102.jpg" class="n2-ss-slide-background n2-ow" data-opacity="1" data-blur="0" data-mode="fill" data-x="50" data-y="50"><div class="n2-ss-slide-background-mask" style=""><img title="" src="https://i2.wp.com/osurobotics.club/wp-content/uploads/2017/10/DSC_0102.jpg?w=744&#038;ssl=1" alt="" data-recalc-dims="1" /></div></div><div class="n2-ss-layers-container n2-ow" data-csstextalign="center" style=""></div></div><div data-slide-duration="0" data-id="16" style="" class="n2-ss-slide n2-ss-canvas n2-ow  n2-ss-slide-16"><div data-hash="ff4df0308feedbc47b89afda2b68035d" data-desktop="//osurobotics.club/wp-content/uploads/2018/03/DSC_0091.jpg" class="n2-ss-slide-background n2-ow" data-opacity="1" data-blur="0" data-mode="fill" data-x="50" data-y="50"><div class="n2-ss-slide-background-mask" style=""><img title="" src="https://i0.wp.com/osurobotics.club/wp-content/uploads/2018/03/DSC_0091.jpg?w=744&#038;ssl=1" alt="" data-recalc-dims="1" /></div></div><div class="n2-ss-layers-container n2-ow" data-csstextalign="center" style=""></div></div><div data-slide-duration="0" data-id="17" style="" class="n2-ss-slide n2-ss-canvas n2-ow  n2-ss-slide-17"><div data-hash="dbd4548e5f21c1515fab9689955b4e7a" data-desktop="//osurobotics.club/wp-content/uploads/2018/03/DSC_0322.jpg" class="n2-ss-slide-background n2-ow" data-opacity="1" data-blur="0" data-mode="fill" data-x="50" data-y="50"><div class="n2-ss-slide-background-mask" style=""><img title="" src="https://i2.wp.com/osurobotics.club/wp-content/uploads/2018/03/DSC_0322.jpg?w=744&#038;ssl=1" alt="" data-recalc-dims="1" /></div></div><div class="n2-ss-layers-container n2-ow" data-csstextalign="center" style=""></div></div><div data-slide-duration="0" data-id="18" style="" class="n2-ss-slide n2-ss-canvas n2-ow  n2-ss-slide-18"><div data-hash="760c432a01fad1294bb5daf7f9dd9c9d" data-desktop="//osurobotics.club/wp-content/uploads/2018/03/DSC_0322-2.jpg" class="n2-ss-slide-background n2-ow" data-opacity="1" data-blur="0" data-mode="fill" data-x="50" data-y="50"><div class="n2-ss-slide-background-mask" style=""><img title="" src="https://i0.wp.com/osurobotics.club/wp-content/uploads/2018/03/DSC_0322-2.jpg?w=744&#038;ssl=1" alt="" data-recalc-dims="1" /></div></div><div class="n2-ss-layers-container n2-ow" data-csstextalign="center" style=""></div></div><div data-slide-duration="0" data-id="19" style="" class="n2-ss-slide n2-ss-canvas n2-ow  n2-ss-slide-19"><div data-hash="540d4b34d0527b94a9d7a680f0d2f766" data-desktop="//osurobotics.club/wp-content/uploads/slider2/DSC_0216.jpeg" class="n2-ss-slide-background n2-ow" data-opacity="1" data-blur="0" data-mode="fill" data-x="50" data-y="50"><div class="n2-ss-slide-background-mask" style=""><img title="" src="https://i0.wp.com/osurobotics.club/wp-content/uploads/slider2/DSC_0216.jpeg?w=744&#038;ssl=1" alt="" data-recalc-dims="1" /></div></div><div class="n2-ss-layers-container n2-ow" data-csstextalign="center" style=""></div></div><div data-slide-duration="0" data-id="20" style="" class="n2-ss-slide n2-ss-canvas n2-ow  n2-ss-slide-20"><div data-hash="8508f2b814bfe77ab20bd2bbba4c120a" data-desktop="//osurobotics.club/wp-content/uploads/slider2/DSC_0352.jpeg" class="n2-ss-slide-background n2-ow" data-opacity="1" data-blur="0" data-mode="fill" data-x="50" data-y="50"><div class="n2-ss-slide-background-mask" style=""><img title="" src="https://i1.wp.com/osurobotics.club/wp-content/uploads/slider2/DSC_0352.jpeg?w=744&#038;ssl=1" alt="" data-recalc-dims="1" /></div></div><div class="n2-ss-layers-container n2-ow" data-csstextalign="center" style=""></div></div><div data-slide-duration="0" data-id="21" style="" class="n2-ss-slide n2-ss-canvas n2-ow  n2-ss-slide-21"><div data-hash="decb5ecdf3fc92b119b96a0dff6884a7" data-desktop="//osurobotics.club/wp-content/uploads/2018/05/IMG_20180519_183759.jpg" class="n2-ss-slide-background n2-ow" data-opacity="1" data-blur="0" data-mode="fill" data-x="50" data-y="50"><div class="n2-ss-slide-background-mask" style=""><img title="" src="https://i0.wp.com/osurobotics.club/wp-content/uploads/2018/05/IMG_20180519_183759.jpg?w=744&#038;ssl=1" alt="" data-recalc-dims="1" /></div></div><div class="n2-ss-layers-container n2-ow" data-csstextalign="center" style=""></div></div><div data-first="1" data-slide-duration="0" data-id="24" style="" class="n2-ss-slide n2-ss-canvas n2-ow  n2-ss-slide-24"><div data-hash="fc24cb1802e19f1eed3cb22ad73d942c" data-desktop="//osurobotics.club/wp-content/uploads/2018/10/rover-e1539472554607.jpg" class="n2-ss-slide-background n2-ow" data-opacity="1" data-blur="0" data-mode="fill" data-x="50" data-y="50"><div class="n2-ss-slide-background-mask" style=""><img title="" src="https://i2.wp.com/osurobotics.club/wp-content/uploads/2018/10/rover-e1539472554607.jpg?w=744&#038;ssl=1" alt="" data-recalc-dims="1" /></div></div><div class="n2-ss-layers-container n2-ow" data-csstextalign="center" style="">
            </div>
          </div>
-->


    <p class ="main-page-paragraph">Welcome to the OSU Robotics Club website! The OSU Robotics Club is the largest student-run club at Oregon State University,
       comprising of nearly 200 members! Each year, the club runs multiple project teams such as the Mars Rover team, Aerial team,
       and Underwater Rov team to help our members become better engineers and to gain useful real-world experiences. Additionally,
       the club provides a stocked work-space in Graf hall complete with computer workstations, soldering stations, electrical
       components, 3D printers, and tools that are available for use by any of our members. Our officers also pride themselves on
       holding regular officer hours, where members can come and ask for help on school-work or projects. Robotics club graduates
       have gone on to work at a range of leading tech companies such as SpaceX, Honeybee Robotics, Tektronix, Nvidia, Intel, and
       JPL. If you&#8217;re interested in becoming a member, click
       <a href="/join/">here </a>to find out how to join! Check us out at
       <a href="https://www.facebook.com/OSURoboticsClub/" target="_blank" rel="noopener">Facebook</a>,
       <a href="https://twitter.com/OSURobotics">Twitter</a>,
       <a href="https://www.instagram.com/osuroboticsclub/">Instagram</a>, and
       <a href="https://www.youtube.com/channel/UCSsUMvfo548sAg2cC9ysO7w">YouTube</a>!
    </p>
    </div>
  </div>

</main>
