
<link rel="stylesheet" href="/about-style.css" media="screen">
<style>
p{
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 20px;
}
h1{
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: underline;
  font-size: 40px;
}
  </style>

<main>

  <div class="info-container">

    <div>
      <div id="header-space"></div>
      <div class="content-wide">

            <h1> Club History </h1>
            <p>  The Robotics club first started on September 24th, 2007 as a team focused solely on making a Mars Rover for the University Rover Challenge, in which the club still competes today. The club is the largest student-run organization on campus, with as many as 200 registered members to date. As the years progressed, members broke off and began create other sub-teams that culminated in the Aerial and Underwater teams, and more recently, the Drone racing team.

  The club is made of members from many backgrounds within OSU including engineering, business, liberal arts, and more! Being an engineer is not a requirement to be part of the club, and in fact, the club encourages EVERYONE with an interest in robotics to join. Due in part to the experience members get working on real projects with real problems on a team of real people, many members leave well equipped to handle and overcome the stresses of difficult and rewarding jobs! Robotics club graduates have gone on to work at great companies such as SpaceX, HoneyBee Robotics, Intel, Nvidia, and Tektronix. Some founding members went on to become members of OSU’s faculty, and still teach classes to the next generation of robotics students to this day.
</p>

      </div>

    </div>


  </div>



</main>
